<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission
        android:name="android.permission.MANAGE_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Front"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".NoConToServ"
            android:exported="false"
            android:label="@string/title_activity_no_con_to_serv"
            android:theme="@style/Theme.Front" />
        <activity
            android:name="com.journeyapps.barcodescanner.CaptureActivity"
            android:screenOrientation="portrait"
            tools:replace="screenOrientation" />
        <activity
            android:name=".ThingParameters"
            android:exported="false"
            android:label="@string/title_activity_thing_parameters"
            android:theme="@style/Theme.Front" />
        <activity
            android:name=".Finder"
            android:exported="false"
            android:label="@string/title_activity_finder"
            android:theme="@style/Theme.Front" />
        <activity
            android:name=".Registration"
            android:exported="false"
            android:label="@string/title_activity_registration"
            android:theme="@style/Theme.Front" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.Front">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>